<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="live_data"></div>

<script>
    $(document).ready(function(){ 
        
        //Выполняем действие, при нажатии на клавишу enter
        function setKeydownmyForm() {
            $('input').keydown(function(e) {
                if (e.keyCode === 13) {
                    $.ajax({
                        url:"/cities/city",  
                        method:"post",
                        data:$('#start').serialize(),
                        dataType:"text", 
                        success:function(data){
                            //alert(data);
                            fetch_data();
                        } 
                    }) 
                }                
            })           
        }
        
        //Подгружаем BACK шаблон
        function fetch_data(){ 
            $.ajax({  
                url:"/cities/back",  
                method:"get",
                success:function(data){  
                    $('#live_data').html(data);
                    setKeydownmyForm()
                }   
            });  
        } 
        fetch_data();
        
        //Выполняем действие, при нажатии на кнопку
        $(document).on('click', '#btn', function(){
            function start() {
                $.ajax({
                    url:"/cities/city",  
                    method:"post",
                    data:$('#start').serialize(),
                    dataType:"text", 
                    success:function(data){
                        //alert(data);
                        fetch_data();
                    } 
                }) 
            }
            let timeout = setTimeout(start, 500);
        })
    });
</script>

